.houselist_title {
    text-align: center;
    background-color: #fff;
    height: 600px;
    border-bottom: 1px solid #e4e6f0;
}

.houselist_title span {
    display: inline-block;
    background-color: #fff;
    margin-left: 3px;
    color: #bbb;
    font-size: 16px;
    line-height: 38px;
    margin-top: 1px;
}

.houselist_title .iconfont {
    color: #bbb;
    font-size: 14px;
}

.houselist_title .mask {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: #fff;
}