.filter_title {
    width: 100%;
    height: 45px;
    border-bottom: gainsboro 1px solid;
    position: relative;
    z-index: 4;
}

.filter_title .select span {
    color: blue;
}

.filter_title .select i {
    color: blue
}